.imgSAIT{
    width: 1240px;
    height: 720px;
}
.s1{
    position: absolute;
width: 496px;
height: 720px;
left: 743px;

background: rgba(233, 233, 233, 0.25);
backdrop-filter: blur(5px)
}
.box1{
    box-sizing: border-box;

position: absolute;
width: 340px;
height: 36px;
left: 821px;
top: 60px;

border: 1px solid #153416;
border-radius: 30px;
}
.vx{
    position: absolute;
    width: 168px;
    height: 32px;
    border: 1px solid #153416;
border-radius: 30px;
background: #153416;
top: 4%;
left: 2px;
}
.vx1{
    position: absolute;
    width: 72px;
    height: 14px;
    left: 215px;
    margin-bottom: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}
.vxod{
    position: absolute;
width: 68px;
height: 35px;
left: 957px;
top: 176px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #FFFFFF;
}
.inpI{
    position: absolute;
    width: 340px;
    height: 44px;
    left: 821px;
    top: 320px;
    
    background: #929191;
    border-radius: 30px;
    opacity: 70%;
    border: none;
}
.INPP{
    position: absolute;
width: 340px;
height: 44px;
left: 821px;
top: 390px;
opacity: 70%;
border: none;
background: #929191;
border-radius: 30px;
}
.vOI{
    position: absolute;
width: 340px;
height: 44px;
left: 821px;
top: 530px;

background: #153416;
border-radius: 30px;
}
.v1{
    position: absolute;
left: 75.81%;
right: 23.06%;
top: 75%;
bottom: 21.84%;

background: #153416;
}
.v2{
    position: absolute;
    left: 82.1%;
    right: 15.97%;
    top: 75%;
    bottom: 21.84%;
    
    background: #153416;
}
.v3{
    position: absolute;
    left: 78.55%;
    right: 19.52%;
    top: 75%;
    bottom: 21.84%;
    
    background: #153416;
}